/*universal selector*/
* {
    font-family: Arial, Helvetica, sans-serif;
    color:  #ffffff;
}

/*navigation*/
#nav-container {
    background-color: #171717;
    padding: 1rem;
    text-align: center;
    border: .01rem solid #ffffff;
}

#nav-container ul {
    list-style-type: none;
    margin:0;
    padding: 0;
}

#nav-container ul li {
    display: inline;
    margin:2rem;
}

#nav-container ul li a {
    text-align: center;
    padding: 1em 0em;
    text-decoration: none;
    font-weight: bold;
}

#nav-container ul li a:hover {
    font-size: 150%;
}

/*main elements*/

body {
    background-color: #212121;
}

img {
    width: 100%;
    border-radius: 8px;
}

h1 {
    font-size: 4rem;
    text-align: center;
    border: 2px solid #ffffff;
    margin: .5em 1em ;
    padding: .5em;
}


h3 {
    font-size: 250%;
    margin: 2rem 0;
}

footer {
    font-style: italic;
}

br {
    clear: both;
}

/* ID SELECTOR */
#hello-there {
    color: #fffb00;
}

#hello-world {
    font-size:1.5em;
}
/* RELATIONAL SELECTOR */
section#what-is-there>ul {
    color:  #ffffff;
}

section#abt_site>ul {
    color: #ffffff;
}

/* COMBINATION SELECTOR */
h1,h2 {
    text-align: center;
}
#hi, #hello-there {
    font-style: italic;
    text-shadow: 1px 1px 2px black
}


/*class attributes*/

.main {
    background-color:#1e00ff;
    padding: 2em;
    margin: 2em auto;
    border: 5px solid #1e00ff;
    border-radius: 10px;
    max-width: 60%;
    overflow: hidden;
}

/*grid about */
.grid-layout {
    display: grid;
    grid-template-columns: auto;
    gap: 1em;
}

.column {
    padding: .5em;
    background: #f1f1f1;
    border-radius: 8px;
}

/*media queries*/

@media only screen and (max-width:685px) {
    h1 {
        font-size: 250%;
        text-align: center;
        border: 2px solid #ffebcd;
        margin: .5em 1em;
        padding: .5em;
    }
}

@media only screen and (max-width:685px) {
    #nav-container ul li {
        display:block;
        margin:.5rem 0;
    }
}

@media only screen and (max-width:685px) {
    .grid-layout {
        display: grid;
        grid-template-columns: auto;
        gap: 1em;
    }
    
    .column {
        padding: 1em;
        background: #f1f1f1;
        border-radius: 8px;
    }
}

@media only screen and (max-width:685px) {
    #hello-world {
        font-size:1.3em;
    }
}
