/*universal selector*/
* {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

/*navigation*/
#nav-container {
    background-color: #171717;
    padding: 1rem;
    text-align: center;
    border: .01rem solid #ffebcd;
}

#nav-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-container ul li {
    display: inline;
    margin: 2rem;
}

#nav-container ul li a {
    text-align: center;
    padding: 1em 0em;
    text-decoration: none;
    font-weight: bold;
}

#nav-container ul li a:hover {
    font-size: 150%;
}

/*main elements*/

body {
    background-color: #212121;
    font-family: "Titillium Web", sans-serif;
}

h1 {
    font-size: 4rem;
    text-align: center;
    border: 2px solid #ffebcd;
    margin: .5em 1em;
    padding: .5em;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 1px 1px 2px black
}

h1,
h2 {
    text-align: center;
}

/*class selector*/

.main {
    background-color: #31b704;
    padding: 2em;
    margin: 2em auto;
    border: 5px solid #31b704;
    border-radius: 10px;
    max-width: 80%;
    overflow: hidden;
}

/*id selector*/
#thanks {
    font-size: 3rem;
}

#thanks,
#bye {
    text-align: center;
    color: #212121;
}

img {
    align-items: center;
}

/*grid*/

.grid-layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

.column {
    padding: 1em;
    background: #f1f1f1;
    border-radius: 8px;
}

/*media queries*/

@media only screen and (max-width:685px) {
    h1 {
        font-size: 250%;
        text-align: center;
        border: 2px solid #ffebcd;
        margin: .5em 1em;
        padding: .5em;
    }
}

@media only screen and (max-width:685px) {
    #nav-container ul li {
        display: block;
        margin: .5rem 0;
    }
}