/*universal selector*/
* {
    font-family: Arial, Helvetica, sans-serif;
    color:  #171717;
}

/*navigation*/
#nav-container {
    background-color: #171717;
    padding: 1rem;
    text-align: center;
    border: .01rem solid #ffebcd;
}

#nav-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-container ul li {
    display: inline;
    margin: 2rem;
}

#nav-container ul li a {
    text-align: center;
    padding: 1em 0em;
    text-decoration: none;
    font-weight: bold;
}

#nav-container ul li a:hover {
    font-size: 150%;
}

body {
    background-color: #212121;
    font-family: "Titillium Web", sans-serif;
}

#creation {
    text-align: left;
}

body {
    background-color: #212121
}

#text,
#submit {
    color: #212121;
}

h1 {
    font-size: 4rem;
    text-align: center;
    border: 2px solid #ffebcd;
    margin: .5em 1em;
    padding: .5em;
}

h1,
h2, a {
    text-align: center;
    color:white;
}

ul, li, p, {
    color: #171717;

}
#faq {
    font-size: 3.5rem;
    text-align: left;
    color: #171717;
}

#reminder {
    color: #171717;
}

#toro-pleased {
    align-items: center;
}


main,
h1 {
    clear: left;
}

.main {
    background-color: #1e00ff;
    padding: 2em;
    margin: 2em auto;
    border: 5px solid #1e00ff;
    border-radius: 10px;
    max-width: 80%;
    overflow: hidden;
}


.content-wrap {
    display: flex;
    align-items: flex-start;
    gap: 1em;
    flex-wrap: wrap;
}

.text {
    flex: 2;
    overflow: hidden;
    padding: 1em;
}

/*grid*/

/*grid about */
.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.column {
    padding: 1em;
    background: #f1f1f1;
    border-radius: 8px;
}

/*media queries*/

@media only screen and (max-width:685px) {
    h1 {
        font-size: 250%;
        text-align: center;
        border: 2px solid #ffebcd;
        margin: .5em 1em;
        padding: .5em;
    }
}

@media only screen and (max-width:685px) {
    #nav-container ul li {
        display: block;
        margin: .5rem 0;
    }
}

@media only screen and (max-width:770px) {
    .grid-layout {
        display: block;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
    
    .column {
        margin:20%;
        width:70%;
    }
}

@media only screen and (max-width:595.20px) {
    #faq {
        font-size: 200%;
        text-align: left;
        color: #171717;
    }

    .column {
        font-size:90%;
    }

}
