#nav-menu ul {
    list-style-type: none;
    padding: 0;
}
#nav-menu ul li {
    float: left;
    width: 33%;
}
#nav-menu ul li a{
    text-align: center;
    display: block;
    padding: 1em 0;
    text-decoration: none;
    background-color: #171717;
    color: #ffebcd;
    font-weight: bold;
    border: 2px solid #ffebcd;
    border-right: 2px solid #ffebcd;
}
#nav-menu ul li a.lastitem {
    border-right: 2px solid #ffebcd;
}

#nav-menu {
    padding-bottom:5em;
    margin: auto;
    width: 100%;
}

#nav-menu ul li a:hover {
    background-color:#000000;
}

h1,h2 {
    text-align: center;
    color:#ffebcd;
}

#about {
text-align: left;
}

h3 {
    color:#ffebcd;
    text-align: left;
}

/*UNIVERSAL SELECTOR */
* {
    font-family: Arial, Helvetica, sans-serif;
}
/*TYPE SELECTOR */
main{
    column-count: 3;
    column-gap: 5px;
    column-rule: 2px dashed #ffebcd;
}

h1 {
    font-size:4rem;
    text-align:center; 
    border: 2px solid #ffebcd;
    margin: .5em 1em;
    padding: .5em;
}
img{
    width:60%;
    margin: 0em 0em 0em 10em;
}
body {
    background-color:#212121;
}

p {
    color:#dbcab1
}

footer {
    font-style: italic;
    margin: 100px 10px 10px 10px
}

br {
    clear: both;
}

/*ID selector*/

#it-me {
    text-align: center;
}

main, h1 {
    clear:left;
}

/*i added this here because my text escapes the box before 685.4 pixels!*/

@media only screen and (max-width:685px) {
    h1 {
        font-size:250%;
        text-align:center;
        border: 2px solid #ffebcd;
        margin: .5em 1em;
        padding: .5em;
    }
}

@media only screen and (max-width:630px) {
    #about h3 p {
        float:none;
        width:100%;
    }
}