/*universal selector*/
* {
    font-family: Arial, Helvetica, sans-serif;
    color:  #ffffff;
}

/*navigation*/
#nav-container {
    background-color: #171717;
    padding: 1rem;
    text-align: center;
    border: .01rem solid #ffffff;
}

#nav-container ul {
    list-style-type: none;
    margin:0;
    padding: 0;
}

#nav-container ul li {
    display: inline;
    margin:2rem;
}

#nav-container ul li a {
    text-align: center;
    padding: 1em 0em;
    text-decoration: none;
    font-weight: bold;
}

#nav-container ul li a:hover {
    font-size: 150%;
}

/*main elements*/

body {
    background-color: #212121;
}


h1 {
    font-size:4rem;
    text-align:center;
    border: 2px solid #ffebcd;
    margin: .5em 1em;
    padding: .5em;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 1px 1px 2px black
}

h1,h2 {
    text-align: center;
}

h3 {
    font-size: 1.3em;
}

main,h1 {
    clear: left;
}

h3, p   {
    color:#171717;
}

footer {
    font-style: italic;
}

/*class attributes*/

.main {
    background-color:#31b704;
    padding: 2em;
    margin: 2em auto;
    border: 5px solid #31b704;
    border-radius: 10px;
    max-width: 80%;
    overflow: hidden;
}

/*id selectors*/

#mini-head {
    font-size: 3rem;
}

#keeley {
    width:100%;
}
#beom,#yuyu {
    width:45%;
}

/*grid about */
.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.column {
    padding: 1em;
    background: #f1f1f1;
    border-radius: 8px;
}

/*i added italics to the footer as i liked the way it looked*/


@media only screen and (max-width:685px) {
    h1 {
        font-size:250%;
        text-align:center;
        border: 2px solid #ffebcd;
        margin: .5em 1em;
        padding: .5em;
    }
}

@media only screen and (max-width:685px) {
    #nav-container ul li {
        display: block;
        margin:.5rem 0;
    }
}


@media only screen and (max-width:809.6px) {
    #mini-head {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width:679.2px) {
    #mini-head {
        font-size: 2.2rem;
    }
}

@media only screen and (max-width:601.6px) {
    #mini-head {
        display: block;
        margin: .5rem;
        font-size: 1.5rem;
    }
}